body {
  background: black;
  color: white;
  font-family: Arial;
}

header {
  background: red;
  padding: 15px;
  text-align: center;
}

.movies {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.movie {
  background: gray;
  padding: 40px;
  cursor: pointer;
  display: none;
}
